<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
<form method="Post">
  
  <p>
    {{form.to.label}}<br />
    {{form.to(size = 30)}}
  </p>

    {% for error in form.to.errors%}
    <span style="color: red">{{error}}</span>
    {% endfor %}

  <p>
      {{form.From.label}}<br / >
      {{form.From(size=30)}}
  </p>

    {% for error in form.From.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}

  </form>
  </body>

</html>


